.App-main {
  width: 65%;
}

.App-link {
  color: grey;
  font-size: small;
  margin: 5px;
  flex: auto;
}

.Footer-txt {
  font-size: xx-small;
  text-align: left;
  vertical-align:bottom;
  margin: 2%;
}

.Footer-social {
  display: flex;
  align-items: right;
  flex-wrap: wrap;
  font-size: small;
  /* text-align: right; */
  vertical-align:bottom;
  /* margin: 2%; */
}

.App-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* align-self: center; */
  font-size: x-large;
  text-align: center;
  vertical-align: middle;
  margin: 1%;
}

.App-center {
  font-size: xx-large;
}

.App-image {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.App-sm-txt {
  font-size: smaller;
}

.App-nav {
  margin-bottom: 7%;
}

.App-social-icon {
  height: 20px;
  width: 20px;
  margin-left: 50%;
}

.Icon-margin {
  margin-left:2% ;
}

.Icon-link {
  color: black;
}